#graph {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#search-box {
  width: 200px;
  height: 30px;
  padding: 10px;
  font-size: 12px;
}

#search-button {
  vertical-align: middle;
}
